<div id="barra" class="barraLeft">
</div>
<div id="barra" class="barraRight"></div>
<div id="barra" class="barraBottom"></div>
<header>
    <div id="logo">
        <span></span>
        <h1 ng-click="close = false">FindWine</h1></div>
    <div id="selectFilter">
        <div class="form-group">
            <label class="fontDetail">Listes : </label>
            <label class="radio-inline">
        <input type="radio" name="filterDisplayOptions" id="radioMagazins" value="magazins" ng-click="marketsDiv = true;ownersDiv = false;productsDiv = false"> Magasins
      </label>
            <label class="radio-inline">
        <input type="radio" name="filterDisplayOptions" id="radioProducteurs" value="producteurs" ng-click="marketsDiv = false;ownersDiv = true;productsDiv = false"> Producteurs
      </label>
            <label class="radio-inline">
        <input type="radio" name="filterDisplayOptions" id="radioVins" value="vins" ng-click="marketsDiv = false;ownersDiv = false; productsDiv = true"> Vins
      </label>
        </div>
    </div>
</header>
<div id="hello" ng-hide="close">
    <span class="btnClose" ng-click="close = true">X</span>
    <h2 class="fontStyle">Bienvenue!</h2>
    <h4 class="fontDetail">Besoin d’aide pour trouver du bon vin ?</h4>
    <button type="button" class="btn btn-danger btn-style btn-lg fontStyle" ng-click="marketsDiv = true;ownersDiv = false;productsDiv = false">Tous les Magasins</button>
    <button type="button" class="btn btn-danger btn-style btn-lg fontStyle" ng-click="marketsDiv = false;ownersDiv = true;productsDiv = false">Tous les Producteurs</button>
    <button type="button" class="btn btn-danger btn-style btn-lg fontStyle" ng-click="marketsDiv = false;ownersDiv = false; productsDiv = true">Tous les Vins</button>
</div>



<div id="marketsList" ng-controller="marketListController as mar">
   <div id="listLeft" ng-show="marketsDiv">
     <input id="searchList" class="form-control" type="text" placeholder="Recherche..." ng-model="$ctrl.searchmarket">
     <i class="form-control-feedback glyphicon glyphicon-search" aria-hidden="true"></i>
     <div id="listPlacer">
       <ul id="list">
         <li ng-repeat="market in mar.markets | filter: $ctrl.searchmarket">{{market.name}}</li>
       </ul>
     </div>
     <div id="btnOpenClose" class="btnCloseLeft" ng-click="marketsDiv = false;ownersDiv = false; productsDiv = false">&#60;</div>
  </div>
</div>
<div id="ownersList" ng-controller="ownerListController as own">
   <div id="listLeft" ng-show="ownersDiv">
     <input id="searchList" class="form-control" type="text" placeholder="Recherche..." ng-model="$ctrl.searchowner">
     <i class="form-control-feedback glyphicon glyphicon-search" aria-hidden="true"></i>
     <div id="listPlacer">
       <ul id="list">
         <li ng-repeat="owner in own.owners | filter: $ctrl.searchowner">{{owner.fullname}}</li>
       </ul>
     </div>
     <div id="btnOpenClose" class="btnCloseLeft" ng-click="marketsDiv = false;ownersDiv = false; productsDiv = false">&#60;</div>
  </div>
</div>
<div id="productsList" ng-controller="productListController as prod">
   <div id="listLeft" ng-show="productsDiv">
     <input id="searchList" class="form-control" type="text" placeholder="Recherche..." ng-model="$ctrl.searchproduct">
     <i class="form-control-feedback glyphicon glyphicon-search" aria-hidden="true"></i>
     <div id="listPlacer">
       <ul id="list">
         <li ng-repeat="product in prod.products | filter: $ctrl.searchproduct">{{product.name}}</li>
       </ul>
     </div>
     <div id="btnOpenClose" class="btnCloseLeft" ng-click="marketsDiv = false;ownersDiv = false; productsDiv = false">&#60;</div>
  </div>
</div>
<div id="markerDetail" ng-show="markerDetail">
</div>
